<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge.Bootstrap" version="3.14.0" targetFramework="net471" />
  <package id="Bridge.Core" version="17.0.0" targetFramework="net471" />
  <package id="Bridge.Html5" version="17.0.0" targetFramework="net471" />
  <package id="Bridge.jQuery" version="2.14.0" targetFramework="net471" />
  <package id="Bridge.Min" version="17.0.0" targetFramework="net471" />
  <package id="Bridge.Razor" version="0.2.1" targetFramework="net471" />
  <package id="Bridge.Razor.React" version="0.2.1" targetFramework="net471" />
  <package id="Bridge.React" version="3.1.8" targetFramework="net471" />
  <package id="Bridge.ReactLoader" version="16.0.1" targetFramework="net471" />
</packages>